



    

<!-- <div *ngFor="let todo of todos; let i =index;" class="todo {{ (todo.completed ? 'done' : '')}}">
    <input type="checkbox"> <div class="id">{{ i }}</div>
        <div class="content" (click) ="toggleDone(i)">{{ todo.content }}</div>
        <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
</div> -->

<input type="text" placeholder="Enter todo.." #task />
<br>  
<br>  
<button>Add New Task</button>

<div *ngFor="let todo of todos">
     <div class="todolist">
        {{ todo.id }} {{ todo.todolist }} 
        {{ todo.isCompleted }} {{ todo.isDeleted }} 
        <button class="delete">Remove</button></div>
   
   
</div>


