<div *ngIf ="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Todo Saved.
  <button type="button"  data-bs-dismiss="alert" aria-label="Close"></button>
</div>  

<form #todoForm="ngForm" (ngSubmit)="onTodoCreate(todoForm.value)">       
    <input type="inputTodo" name="todolist" placeholder="Enter todo.." class="todo-input" ngModel>
      
    <input type="submit" value="{{editMode ? 'Update Todo' : 'Add Todo'}}" class="todo-submit"/>
    
  </form>

<div *ngFor="let todo of todos">
    <div class="todolist">
       {{ todo.id }} {{ todo.todolist }} 
       {{ todo.isCompleted }} {{ todo.isDeleted }} 
       <td><span (click)="deleteTodos( todo.id )">Delete</span></td>
       <td><button class="btn-edit" (click)="onEditClicked(todo.todolist)">EDIT</button></td>

  </div>





