<div class ="app">
  <header>
    <h1>Angular Todo App</h1>
  </header>

  <div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>TodoList</h1>
        <hr>
      </div>
      <div class="container">
      
        <div class="form-area">
          <h3>Create Todo</h3>
          <form #todoForm="ngForm" (ngSubmit)="onTodoCreate(todoForm.value)">        
            <label>Todolist</label>
            <input type="text" name="todolist" ngModel>
          
            <input type="submit" value="Send">
          </form>
        </div>
  <app-todo></app-todo>
</div>
